<!doctype html>
<html class="h-100" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO Meta Tags -->
  <!-- dynamic -->
  <meta name="title" content="Vitrine">
  <meta name="description" content="Showcase your brand">
  <meta name="author" content="Sixtus Agbo">

  <!-- Open Graph / Facebook -->
  <!-- dynamic -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url_for('general.home') }}">
  <meta property="og:title" content="Vitrine">
  <meta property="og:description" content="Showcase your brand">
  <meta property="og:image" content="{{ url_for('static', filename='images/banner.jpg', _external=True) }}">

  <!-- Twitter -->
  <!-- dynamic -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ url_for('general.home') }}">
  <meta property="twitter:title" content="Vitrine">
  <meta property="twitter:description" content="Showcase your brand">
  <meta property="twitter:image" content="{{ url_for('static', filename='images/banner.jpg', _external=True) }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>404 Not found | Vitrine</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/aos.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/guest.css') }}" />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/form_validation.js') }}"></script>

</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">

  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="display-1 fw-bold">404</h1>
      <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
      <p class="lead">The page you requested for doesn’t exist.</p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>

</body>

</html>