{% extends "layouts/auth.html" %}

{% block title %}Login{% endblock %}

{% block scripts %}
  <script src="static/scripts/form_validation.js" defer></script>
{% endblock %}

{% block content %}
          <h1 class="mb-4">Login</h1>

          <form class="row needs-validation" method="POST" novalidate>
            <div class="col-12">
              {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}
              <div class="alert alert-danger d-flex align-items-center pb-0" role="alert">
                <ul>
                  {%- for error in errors %}
                  <li>{{ error }}</li>
                  {% endfor -%}
                </ul>
              </div>
              {% endif %}
              {% endwith %}

              <label for="handle" class="form-label">Handle</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="at-sign">@</span>
                <input type="text" class="form-control form-control-lg bg-gray-800 border-dark" id="handle" name="handle">
                <div class="invalid-feedback">&nbsp;</div>
              </div>
 
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-control-lg bg-gray-800 border-dark" id="password" name="password">
                <div class="invalid-feedback">&nbsp;</div>
              </div>

              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="remember"
                  name="remember"
                />
                <label
                  class="form-check-label text-warning"
                  for="remember">
                  Remember me
                </label>
                <div class="invalid-feedback">&nbsp;</div>
              </div>

              <p class="fs-6">
                New member?
                <a class="link-info text-decoration-none" href="{{ url_for('auth.register') }}">
                  Register
                </a>
              </p>

              <button type="submit" class="btn btn-white btn-xl mb-4">Continue</button>
            </div>
          </form>
{% endblock %}
