{% extends "auth/auth_base.html" %}

{% block title %}Register a new account{% endblock %}

{% block scripts %}
  <script src="static/scripts/form_validation.js" defer></script>
{% endblock %}

{% block content %}
            <h1>Register a new brand</h1>

            <form class="row needs-validation" method="POST" novalidate>
              <div class="col-12">
                <label for="handle" class="form-label">Handle</label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="at-sign">@</span>
                  <input
                    type="text"
                    class="form-control form-control-lg bg-gray-800 border-dark"
                    id="handle"
                    name="handle"
                  />
                  <div class="invalid-feedback">&nbsp;</div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Brand Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg bg-gray-800 border-dark"
                    id="name"
                    name="name"
                  />
                  <div class="invalid-feedback">&nbsp;</div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input
                    type="email"
                    class="form-control form-control-lg bg-gray-800 border-dark"
                    id="email"
                    aria-describedby="emailHelp"
                    name="email"
                  />
                  <div id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                  </div>
                  <div class="invalid-feedback">&nbsp;</div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control form-control-lg bg-gray-800 border-dark"
                    id="password"
                    name="password"
                  />
                  <div class="invalid-feedback">&nbsp;</div>
                </div>
                <div class="mb-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="is_solopreneur"
                    name="is_solopreneur"
                  />
                  <label
                    class="form-check-label text-warning"
                    for="is_solopreneur"
                    >I run this business myself?</label
                  >
                  <div class="invalid-feedback">&nbsp;</div>
                </div>

                <p class="fs-6">
                  Already a member?
                  <a class="link-info text-decoration-none" href="{{url_for('auth.login')}}">
                    Login
                  </a>
                </p>

                <button type="submit" class="btn btn-white btn-xl mb-4">
                  Become a vitriner
                </button>
              </div>
            </form>
{% endblock %}
