{% extends "layouts/dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Dashboard</h2>
          <div class="btn-toolbar mb-2 mb-md-0">
            {% if not user.is_new %}
            <a href="" class="btn btn-primary me-3">Add work</a>
            {% endif %}
            <h4>Hi, {{ user.handle }}</h4>
          </div>
        </div>

        <div class="content">
          {% include "partials/messages.html" %}
          {% if user.is_new %}
          <p>
            The humble wizard of vitrine known as <span class="fst-italic">Vixpert</span> will take you through the
            process of setting up your profile.
          </p>

          <p>
          Get started with <a href="{{ url_for('dashboard.vixpert') }}"
              class="link-primary text-decoration-none fw-bold">vixpert</a>.
          </p>
          {% else %}
          <div class="row">
            {% for work in user.works|sort(attribute="title") %}
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3 h-100">
                <img src="{{ work.image_url }}" alt="{{ work.title }}" class="img-fluid">
                <div class="card-body">
                  <h5 class="card-title">{{ work.title }}</h5>
                  <p class="card-text">{{ work.description }}</p>
                </div>
              </div>
            </div>
            {% else %}
              <p>
              Apparently, you've not added any of your brand's work. Improve your brand page by adding a <a href="#">work</a>.
              </p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
{% endblock %}
