{% extends "layouts/dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Dashboard</h2>
          <div class="btn-toolbar mb-2 mb-md-0">
            {% if not user.is_new %}
            <a href="#" class="btn btn-primary me-3" data-bs-toggle="modal"
              data-bs-target="#addWorkModal">Add work</a>
            {% endif %}
            <h4>Hi, {{ user.handle }}</h4>
          </div>
        </div>

        <div class="content">
          {% include "partials/messages.html" %}
          {% if user.is_new %}
          <p>
            The humble wizard of vitrine known as <span class="fst-italic">Vixpert</span> will take you through the
            process of setting up your profile.
          </p>

          <p>
          Get started with <a href="{{ url_for('dashboard.vixpert') }}"
              class="link-primary text-decoration-none fw-bold">vixpert</a>.
          </p>
          {% else %}
          <div class="row">
            {% for work in user.works|sort(attribute="title") %}
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3 h-100">
                <img src="{{ work.image_url }}" alt="{{ work.title }}" class="img-fluid">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ work.title }}</h5>
                    <button type="button" class="btn btn-primary"
                      data-bs-toggle="modal" data-bs-target="#edit-work-{{ work.id }}">
                      Edit</button>
                  </div>
                  <p class="card-text">{{ work.description }}</p>
                </div>
              </div>
            </div>

        <!-- Edit Work Modal -->
        <div class="modal fade" id="edit-work-{{ work.id }}"
          data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="edit-work-{{ work.id }}-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="edit-work-{{ work.id }}-label">Edit Work</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row" method="POST"
                  action={{ url_for("dashboard.update_work", work_id=work.id) }}>
                  <div class="col-12">
                    <div class="mb-3">
                      <label for="title" class="form-label">Title</label>
                      <input type="text" class="form-control form-control-lg" id="title" name="title" value="{{ work.title }}">
                    </div>
                    <div class="mb-3">
                      <label for="description" class="form-label">Description</label>
                      <input type="text" class="form-control form-control-lg" id="description" name="description" value="{{ work.description }}">
                    </div>
                    <div class="mb-3">
                      <label for="image_url" class="form-label">Image Link</label>
                      <input type="text" class="form-control form-control-lg" id="image_url" name="image_url" value="{{ work.image_url }}">
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning"
                  data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
            {% else %}
              <p>
              Apparently, you've not added any of your brand's work. Improve your brand page by adding a <a href="#" data-bs-toggle="modal" data-bs-target="#addWorkModal">work</a>.
              </p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
{% endblock %}
