{% extends "layouts/dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Dashboard</h2>
          <div class="btn-toolbar mb-2 mb-md-0">
            <h4>Hi, brandname</h4>
          </div>
        </div>

        <div class="content">
          <p>
            The humble wizard of vitrine known as <span class="fst-italic">Vixpert</span> will take you through the
            process of setting up your profile.
          </p>

          <p>Get started with <a href="vixpert.html" class="link-primary text-decoration-none fw-bold">vixpert</a>.</p>
        </div>
{% endblock %}
